@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: "border-box";
}
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #061224;
  min-width: 300px;
  margin-bottom: 200px;
}
.no-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.no-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 9999px; /* Add this line */
}

.no-scrollbar::-webkit-scrollbar-thumb {
  border: solid 1px #ffffff;
  background-color: #aaaaaa;
  border-radius: 9999px; /* Add this line */
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #29b6f6;
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 2px #29B6F6;
  -webkit-text-fill-color: transparent;
}

swiper-slide {
  height: auto;
}